# AmoCRM
AYA_AMO_CLIENT_ID=your_client_id_here
AYA_AMO_CLIENT_SECRET=your_client_secret_here
AYA_AMO_REFRESH_TOKEN=your_refresh_token_here

# GA4
GA4_REFRESH_TOKEN=your_refresh_token_here
GA4_CLIENT_ID=your_client_id_here
GA4_CLIENT_SECRET=your_client_secret_here

# Google Ads
GOOGLE_ADS_DEVELOPER_TOKEN=your_developer_token_here
GOOGLE_ADS_CLIENT_ID=your_client_id_here
GOOGLE_ADS_CLIENT_SECRET=your_client_secret_here
GOOGLE_ADS_REFRESH_TOKEN=your_refresh_token_here
