# AmoCRM
EDUCATION_AMO_SUBDOMAIN=your_subdomain_here
EDUCATION_CALL_TAG_EXTRA=your_extra_call_tag_here
AMO_CLIENT_ID=your_client_id_here
AMO_CLIENT_SECRET=your_client_secret_here
AMO_REFRESH_TOKEN=your_refresh_token_here

# GA4
GA4_REFRESH_TOKEN=your_refresh_token_here
GA4_CLIENT_ID=your_client_id_here
GA4_CLIENT_SECRET=your_client_secret_here

# Google Ads
GOOGLE_ADS_DEVELOPER_TOKEN=your_developer_token_here
GOOGLE_ADS_CLIENT_ID=your_client_id_here
GOOGLE_ADS_CLIENT_SECRET=your_client_secret_here
GOOGLE_ADS_REFRESH_TOKEN=your_refresh_token_here
